@{
    @using ProfOsmotr.DAL;
    @using ProfOsmotr.Web.Infrastructure.Extensions;
    @inject Microsoft.Extensions.Configuration.IConfiguration configuration;
    bool isAuthorizationDisabled = !bool.Parse(configuration["AuthorizationEnabled"] ?? bool.FalseString); ;
    bool authenticated = User.Identity.IsAuthenticated;
    string authUrl = authenticated ? Url.Action("Logout", "User") : Url.Action("Login", "User");
    string authText = authenticated ? "Выйти" : "Войти";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Калькулятор 29н</title>
    <link rel="stylesheet" href="~/css/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/dist/main.css" asp-append-version="true" />
</head>
<body data-page="@ViewBag.PageId">
    <div class="container d-flex flex-column h-100">
        <nav class="navbar navbar-expand-lg navbar-light bg-light flex-shrink-0" style="margin-bottom: 50px">
            <a class="navbar-brand" href="~/">Калькулятор 29н</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    @if (isAuthorizationDisabled || authenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Index">Главная</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                Расчеты
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="~/Calculation/Single">Создать индивидуальный расчет</a>
                                <a class="dropdown-item" href="~/Calculation/Company">Создать расчет для предприятия</a>
                                <a class="dropdown-item" href="~/Calculation/List">История расчетов</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Operator">
                                Оператор
                            </a>
                        </li>
                    }
                    @if (isAuthorizationDisabled || User.IsInRole(RoleId.ClinicModerator.ToClaimValue()) || User.IsInRole(RoleId.Administrator.ToClaimValue()))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                Управление
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="~/Catalog/List">Каталог услуг</a>
                                <a class="dropdown-item" href="~/Clinic/Settings">Информация о МО</a>
                                <a class="dropdown-item" href="~/User/List">Пользователи</a>
                            </div>
                        </li>
                    }
                    @if (isAuthorizationDisabled || User.IsInRole(RoleId.Administrator.ToClaimValue()))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                Администрирование
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="~/Order/Items">Приказ 29н</a>
                                <a class="dropdown-item" href="~/Order/Examinations">Обследования по умолчанию</a>
                                <a class="dropdown-item" href="~/Register/Requests">Заявки на регистрацию</a>
                                <a class="dropdown-item" href="~/Clinic/List">Медицинские организации</a>
                                <a class="dropdown-item" href="~/User/List">Пользователи</a>
                            </div>
                        </li>
                    }
                </ul>
                <span class="font-weight-bold mr-2">@User.Identity.Name</span>
                <a href="@authUrl" class="btn btn-secondary">@authText</a>
            </div>
        </nav>
        <div style="flex: 1 0 auto;">
            @RenderBody()
        </div>
        <footer class="flex-shrink-0">
            <hr />
            <p>&copy; @DateTime.Now.Year - Калькулятор 29н</p>
        </footer>
    </div>
    <script src="~/js/dist/general/vendor.js" asp-append-version="true"></script>
    <script src="~/js/dist/general/main.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
